@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --details: #f35b04;
  --secondary: #3d348b;
  --white: #fff;
  --black: #000;

  --font-1: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-1);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  min-height: 5dvh;
  background-color: transparent;
  border-bottom: 2px solid var(--details);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;

  position: sticky;
  top: 0;

  z-index: 2;

  #logo {
    width: 75px;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }

  .links {
    display: flex;
    gap: 1rem;
    a {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

main {
  #main-picture {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url(../public/img/main-bg.jpg);

    .main-text-container {
      width: 100%;
      min-height: 10vh;
      padding: 2rem;
      text-align: center;
      color: #f35b04;
      /* background-color: rgba(255, 255, 255, 0.1); */
      border-radius: 10px;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
      font-size: 4rem;
      z-index: 2;
      text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: inherit;
      background-size: inherit;
      background-position: inherit;
      filter: blur(5px);
      z-index: 1;
    }

    &.noBefore {
      .main-text-container {
        width: auto;
        min-height: 10vh;
        padding: 2rem;
        text-align: center;
        color: #f35b04;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-size: 4rem;
        z-index: 2;
        text-shadow: none;
      }
    }

    &.noBefore::before {
      display: none;
    }
  }

  #about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 100vh;

    padding-top: 110px;
    padding-bottom: 110px;

    .right-pentagon {
      align-self: flex-end;
      width: 70vw;
    }

    .left-pentagon {
      align-self: flex-start;
      width: 70vw;
    }
  }

  #long-description-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 100vh;

    padding-top: 110px;
    padding-bottom: 110px;

    #long-description {
      width: 80vw;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    #technologies {
      padding: 2rem;
      display: flex;
      background-color: #f0f0f0;
      gap: 1rem;
      font-size: 4rem;
      border-radius: 10px;
    }
  }

  #projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    min-height: 100dvh;
    padding-top: 110px;
    padding-bottom: 110px;
    align-items: center;

    .projects-container {
      min-height: 60dvh;
      width: 80vw;
      gap: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      align-items: center;
      background-color: #f0f0f0;
      border-radius: 10px;
      padding: 2rem;

      a {
        height: 100%;
      }

      .project-card {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all 0.3s;
        cursor: pointer;
        height: 100%;
        &:hover {
          transform: scale(1.05);
        }

        > img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .card-title {
          font-size: 2rem;
          font-weight: 600;
          color: var(--details);
          padding: 1rem 1rem 0 1rem;
        }

        .card-body {
          padding: 1rem 1rem 1rem 1rem;
          font-size: 1rem;
          color: var(--black);
        }
      }
    }
  }

  #contact {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #000;
    min-height: 50dvh;
    align-items: center;

    .contact-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      text-align: center;

      #contact-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        > button {
          background-color: var(--details);
          color: var(--white);
          padding: 0.5rem 1rem;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: var(--secondary);
            scale: 1.05;
          }
        }

        .inputAndLabel {
          display: flex;
          flex-direction: column;

          > label {
            text-align: left;
            font-size: 1em;
            color: var(--white);
          }
        }
      }
    }
  }
}

.title {
  font-size: 4rem;
  color: var(--details);
  font-weight: 600;

  &.white {
    color: var(--white);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.subtitle {
  font-size: 2rem;
  color: var(--secondary);
  font-weight: 500;

  &.white {
    color: var(--white);
  }
}

/* HTML: <div class="zig-zag-line"></div> */
.zig-zag-line {
  --a: 90deg; /* control the angle */
  --s: 100px; /* size of the zig-zag */
  --b: 35px; /* control the thickness */

  background: var(--details);
  height: calc(var(--b) + var(--s) / (2 * tan(var(--a) / 2)));
  width: 100%;
  --_g: var(--s) repeat-x
    conic-gradient(
      from calc(var(--a) / -2) at bottom,
      #0000,
      #000 1deg calc(var(--a) - 1deg),
      #0000 var(--a)
    );
  mask: 50% calc(-1 * var(--b)) / var(--_g) exclude, 50% / var(--_g);
}

/* HTML: <div class="parallelogram"></div> */
.parallelogram {
  min-height: 250px;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
  background: var(--details);
  position: relative;
  padding: 2rem;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2;

  &.secondary {
    background: var(--secondary);
  }

  &.left {
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  }
}

.position-1 {
  position: absolute;
  top: 0.5rem;
  left: 8rem;
}

.position-2 {
  position: absolute;
  top: calc(1.5rem + 88px);
  left: 14rem;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  background: #f0f0f0;
  padding: 20px 0;
}

.marquee-content {
  animation: marquee 40s linear infinite;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  width: 100%;
}

.marquee-item {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease;
  font-size: 4rem;
}

.marquee-item:hover {
  transform: scale(1.2);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Icon styling using Devicon */
.devicon {
  font-size: 8rem;
}

.link {
  background-color: var(--details);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;

  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    background-color: var(--secondary);
    scale: 1.05;
  }
}
li {
  list-style-type: none;
}
